/* Home.css */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
}

.content {
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.logo_h img {
    width: 140px;
    height: 128px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subheading {
  font-size: 18px;
  color: #777;
  margin-bottom: 30px;
}

.download-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-btn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.download-btn:hover {
  background-color: #333;
}

.available-text {
  font-size: 14px;
  color: #777;
}